# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# App config
SUBTITLE="Rozřazovací testy pro GJP-ME"

# Prisma
POSTGRES_USER=postgres
POSTGRES_PASS=supertajneheslo
POSTGRES_DB=rozrazovak
DATABASE_URL=postgresql://postgres:supertajneheslo@localhost:5432/rozrazovak

# Next Auth (see https://next-auth.js.org/configuration/options)
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# Next Auth Google Provider (see https://developers.google.com/identity/protocols/oauth2)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Teacher email adresses (comma separated)
TEACHER_EMAILS=ucitel@gjp-me.cz,obcan-k@email.cz
